# Ignore generated runtime scripts
bash/

# Ignore job output directories (job-out, job-outs)
job-outs/
job-out*

# Ignore generic output folders
output/
output_longerRun/
output_shorterRun/
 
SimulationResults/

# Ignore any Slurm / task output files
*.out
